@charset "utf-8";

// webfonts
@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv2Gothic';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv2Gothic';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv2Gothic';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-style: normal;
}


// reset
// 여백 초기화 
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
    margin: 0;
    padding: 0
}

// variable
$font-Six: 'Six Caps';
$font-Nexon1: 'NEXONLv1Gothic';
$font-Nexon2: 'NEXONLv2Gothic';

$gradient1: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
$gradient2: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$gradient3: linear-gradient(to top, #6a11cb 0%, #2575fc 100%);
$gradient4: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
$gradient5: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
$gradient6: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
// mixin
@mixin positionCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin content {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}

// bg
.bg {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;

    &::before {
        @include content;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}

@for $i from 1 through 20 {
    .bg#{$i} {
        background-image: url(../img/bg#{$i}@2x.jpg);
    }
}

// main
#main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #11e8bb;
    background: $gradient1;

    &.menu {
        background: $gradient2;
    }

    &.mouse {
        background: $gradient3;
    }

    &.slider {
        background: $gradient4;
    }

    &.parallax {
        background: $gradient5;
    }

    &.game {
        background: $gradient6;
    }
}


#contents {
    h1 {
        @include positionCenter;
        font-size: 10vw;
        white-space: nowrap;
        font-family: $font-Six, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1vw;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to bottom, #8200c9, #240038);
    }
}

#nav {
    @include positionCenter;
    bottom: 10px;
    top: auto;

    li {
        list-style: none;
        display: inline;

        a {
            color: #fff;
            text-decoration: none;
            width: 100px;
            height: 40px;
            line-height: 40px;
            border: 1px solid #fff;
            display: inline-block;
            border-radius: 50px;
            font-size: 14px;
            text-align: center;
            margin: 4px;
            font-family: $font-Nexon1;
            box-shadow: inset 0 0 0 #fff;
            transition: all 0.4s;

            &:hover {
                box-shadow: inset 0 -100px 0 #fff;
                color: #6c4a70;
            }
        }
    }
}


// info
.info {
    color: #fff;
    font-family: $font-Nexon1;
    padding: 20px;

    &.right {
        position: absolute;
        right: 0px;
        top: 0px;
    }

    &.bottom {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    h1 {
        font-weight: 300;
        font-size: 20px;
        line-height: 1.6;
        border-bottom: 1px dashed #fff;
        display: inline-block;
        margin-bottom: 10px;
    }

    p {
        font-weight: 300;
        font-size: 16px;
    }

    li {
        list-style: none;
        display: inline;

        a {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            border: 1px dashed #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            margin-bottom: 5px;
        }

        &.active {
            a {
                background: #fff;
                color: #000;
            }
        }
    }

    button {
        background: transparent;
        border: 1px solid #fff;
        padding: 5px 20px;
        color: #fff;
        border-radius: 50px;
        box-shadow: 0 0 0 #fff inset;
        transition: all 0.4s;

        &:hover {
            box-shadow: 0 -50px 0 #fff inset;
            color: #000;
        }
    }
}

// #1
#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    transform: scale(0);

    .modal-bg {
        background: rgba(0, 0, 0, 0.6);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .modal-cont {
            background: #fff;
            padding: 3vw;
            max-width: 50vw;
            border-radius: 5px;

            h2 {
                font-weight: 400;
                font-size: 30px;
                margin-bottom: 10px;
            }

            p {
                font-weight: 300;
                line-height: 1.6;
            }

            button {
                float: right;
                border: 1px solid #000;
                background: #000;
                border-radius: 20px;
                color: #fff;
                padding: 5px 10px;
                cursor: pointer;
                font-family: 'NEXONLv2Gothic';
            }
        }
    }
}

#modal.show {
    animation: unfoldIn 1s ease forwards;
}

@keyframes unfoldIn {
    0% {
        transform: scaley(0.005) scalex(0);
    }

    50% {
        transform: scaley(0.005) scalex(1);
    }

    100% {
        transform: scaley(1) scalex(1);
    }
}

#modal.show.hide {
    animation: unfoldOut 1s ease forwards;
}

@keyframes unfoldOut {
    0% {
        transform: scaley(1) scalex(1);
    }

    50% {
        transform: scaley(0.005) scalex(1);
    }

    100% {
        transform: scaley(0.005) scalex(0);
    }
}

#modal.show .modal-bg .modal-cont {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s ease forwards;
}

#modal.show.hide .modal-bg .modal-cont {
    transform: scale(0);
    animation: zoomOut 0.5s ease forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}