@charset "utf-8";

// webfonts
@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv2Gothic';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv2Gothic';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'NEXONLv2Gothic';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-style: normal;
}


// reset
// 여백 초기화 
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
    margin: 0;
    padding: 0
}

// variable
$font-Six: 'Six Caps';
$font-Nexon1: 'NEXONLv1Gothic';
$font-Nexon2: 'NEXONLv2Gothic';

$gradient1: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
$gradient2: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$gradient3: linear-gradient(to top, #6a11cb 0%, #2575fc 100%);
$gradient4: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
$gradient5: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
$gradient6: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);

// mixin
@mixin positionCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin content {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}

// agent
.iphone main {
    padding: 10px;
}

.android main {
    padding: 10px;
}

// bg
.bg {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;

    &::before {
        @include content;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    &.blue {
        &::before {
            background-color: rgba(92, 55, 110, 0.74);
        }
    }

    &.brown {
        &::before {
            background-color: rgba(50, 37, 11, 0.6);
        }
    }
}

@for $i from 1 through 20 {
    .bg#{$i} {
        background-image: url(../img/bg#{$i}@2x.jpg);
    }
}

// main
#main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #11e8bb;
    background: $gradient1;
    background-repeat: no-repeat;

    &.menu {
        background: $gradient2;
    }

    &.mouse {
        background: $gradient3;
    }

    &.slider {
        background: $gradient4;
    }

    &.parallax {
        background: $gradient5;
    }

    &.game {
        background: $gradient6;
    }
}


#contents {
    h1 {
        @include positionCenter;
        font-size: 10vw;
        white-space: nowrap;
        font-family: $font-Six, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1vw;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to bottom, #8200c9, #240038);
    }
}

#nav {
    @include positionCenter;
    bottom: 20px;
    top: auto;
    text-align: center;
    width: 70%;

    li {
        list-style: none;
        display: inline;

        a {
            color: #fff;
            text-decoration: none;
            width: 100px;
            height: 40px;
            line-height: 40px;
            border: 1px solid #fff;
            display: inline-block;
            border-radius: 50px;
            font-size: 14px;
            text-align: center;
            margin: 4px;
            font-family: $font-Nexon1;
            box-shadow: inset 0 0 0 #fff;
            transition: all 0.4s;
            cursor: pointer;

            &:hover {
                box-shadow: inset 0 -100px 0 #fff;
                color: #6c4a70;
            }
        }
    }
}


// info
.info {
    color: #fff;
    font-family: $font-Nexon1;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;

    &.right {
        left: auto;
        right: 0px;
    }

    &.left {
        top: auto;
        left: 0;
        bottom: 0;
    }

    &.bottom {
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
        position: fixed;
    }

    h1 {
        font-weight: 300;
        font-size: 20px;
        line-height: 1.6;
        border-bottom: 1px dashed #fff;
        display: inline-block;
        margin-bottom: 10px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    p {
        font-weight: 300;
        font-size: 13px;
    }

    li {
        list-style: none;
        display: inline;

        a {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            border: 1px dashed #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            margin-bottom: 5px;
        }

        &.active {
            a {
                background: #fff;
                color: #000;
            }
        }
    }

    &.list {
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        padding: 20px;
        font-size: 12px;
        line-height: 1.8;
        border-radius: 10px;
        margin: 20px;

        li {
            display: block;
        }
    }

    button {
        background: transparent;
        border: 1px solid #fff;
        padding: 5px 20px;
        color: #fff;
        border-radius: 50px;
        box-shadow: 0 0 0 #fff inset;
        transition: all 0.4s;

        &:hover {
            box-shadow: 0 -50px 0 #fff inset;
            color: #000;
        }
    }
}

// modal
#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    transform: scale(0);

    .modal-bg {
        background: rgba(0, 0, 0, 0.6);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .modal-cont {
            h2 {
                font-weight: 400;
                font-size: 30px;
                margin-bottom: 10px;
            }

            p {
                font-weight: 300;
                line-height: 1.6;
            }

            button {
                float: right;
                border: 1px solid #000;
                background: #000;
                border-radius: 20px;
                color: #fff;
                padding: 5px 10px;
                cursor: pointer;
                font-family: 'NEXONLv2Gothic';
                margin-top: 10px;
            }
        }
    }
}

#modal.show {
    animation: unfoldIn 1s ease forwards;
}

@keyframes unfoldIn {
    0% {
        transform: scaley(0.005) scalex(0);
    }

    50% {
        transform: scaley(0.005) scalex(1);
    }

    100% {
        transform: scaley(1) scalex(1);
    }
}

#modal.show.hide {
    animation: unfoldOut 1s ease forwards;
}

@keyframes unfoldOut {
    0% {
        transform: scaley(1) scalex(1);
    }

    50% {
        transform: scaley(0.005) scalex(1);
    }

    100% {
        transform: scaley(0.005) scalex(0);
    }
}

#modal.show .modal-bg .modal-cont {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s ease forwards;
}

#modal.show.hide .modal-bg .modal-cont {
    transform: scale(0);
    animation: zoomOut 0.5s ease forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

// code-view
.code-view {
    background: #fff;
    width: 60vw;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    overflow: hidden;

    .view-header {
        border-bottom: 1px solid #f2f2f2;

        .dot {
            padding: 13px 10px 10px 15px;

            span {
                width: 12px;
                height: 12px;
                display: inline-block;
                border-radius: 50%;
                margin: 0 2px;
            }

            span:nth-child(1) {
                background-color: #f56565;
            }

            span:nth-child(2) {
                background-color: #f6e05e;
            }

            span:nth-child(3) {
                background-color: #48bb78;
            }
        }
    }

    .view-title {
        border: 1px solid #f2f2f2;
        padding: 0 11px;
        font-family: "NEXONLv1Gothic";

        li {
            display: inline;
            list-style: none;

            a {
                text-decoration: none;
                color: #cccccc;
                padding: 10px 10px 12px;
                margin: 0 5px;
                display: inline-block;
            }

            &.active {
                a {
                    border-top: 2px solid #667eea;
                    color: #4a5568;
                }
            }
        }
    }

    .view-title {}

    .view-cont {
        height: 500px;
        overflow-y: scroll;

        >div {
            display: none;
        }

        >div:nth-child(1) {
            display: block;
        }
    }
}

.view-cont {
    background-color: #96d0ff;
    border-color: #96d0ff;
}

.view-cont>div {
    display: none;
}

.view-cont>div:first-child {
    display: block;
}

// .view-cont>div>pre {
//     white-space: pre-wrap;
// }

// 반응형
@media (max-width: 900px) {
    #contents {
        h1 {
            @include positionCenter;
            font-size: 15vw;
        }
    }

    #nav {
        @include flexCenter;
        text-align: center;
        align-items: unset;
        bottom: 10px;
        width: 100%;

        li {
            a {
                font-size: 12px;
                width: 60px;
                height: 32px;
                line-height: 35px;
            }
        }
    }

    .info {
        h1 {
            font-size: 14px;
        }

        p {
            font-size: 12px;
        }

        li {
            a {
                font-size: 10px;
                width: 18px;
                height: 18px;
            }
        }

        &.bottom {
            bottom: 10px;
        }
    }

    .code-view {
        width: 90vw;
        overflow: hidden;

        .view-cont {
            font-size: 12px;
        }

        .view-title {
            font-size: 14px;
        }
    }


    #modal {
        .modal-bg {
            .modal-cont {
                button {
                    padding: 5px 20px;
                }
            }
        }
    }
}


// parallax
.parallax {
    background: #222;
    color: #fff;
    font-family: 'NEXONLv1Gothic';
}

.paraScroll {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    padding: 0px 20px;
}

.paraInfo2 {
    position: fixed;
    left: 20px;
    bottom: 70px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 20px;
    font-size: 12px;
    line-height: 1.8;
    border-radius: 10px;

    li {
        list-style: none;
    }
}

.paraNav {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 20px;
    border-radius: 30px;

    li {
        display: inline-block;
        list-style: none;

        a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            padding: 5px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
        }

        &.active a {
            background: #fff;
            color: #000;
            border-radius: 50%;
        }
    }
}

.paraInfo {
    padding: 20px;

    h1 {
        display: inline-block;
        font-size: 20px;
        border-bottom: 1px dashed #fff;
        margin-bottom: 8px;
        font-weight: 400;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    p {
        font-size: 14px;
        line-height: 1.8;
    }
}

.paraCont {
    width: 100%;
    overflow: hidden;

    .content-item {
        width: 1000px;
        max-width: 70vw;
        // background: rgba(255,255,255,0.3);
        margin: 30vw 0;
        padding-top: 10vw;
        text-align: right;
        position: relative;

        .num {
            font-family: 'Lato';
            font-weight: 100;
            font-size: 25vw;
            opacity: 0.07;
            position: absolute;
            right: -5vw;
            top: -10vw;
        }

        .title {
            padding-bottom: 10px;
            font-weight: 700;
        }

        .img-wrap {
            width: 100%;
            padding-bottom: 56%;
            background: #000;
            position: relative;
            overflow: hidden;

            .img {
                position: absolute;
                left: -15%;
                top: -10%;
                width: 130%;
                height: 130%;
                background-size: cover;
                background-repeat: no-repeat;
                filter: saturate(0%);
                transition: filter 1s;

                &:hover {
                    filter: saturate(100%)
                }
            }
        }

        .desc {
            font-size: 6vw;
            line-height: 1.4;
            margin-top: -6vw;
            margin-right: -3vw;
            position: relative;
            z-index: 100;
            word-break: keep-all;
        }

        &:nth-child(even) {
            margin-left: auto;
            text-align: left;

            .num {
                right: auto;
                left: -5vw;
            }

            .desc {
                margin-right: auto;
                margin-left: -3vw;
            }
        }
    }

    @for $i from 1 through 9 {
        .content-item {
            &:nth-child(#{$i}) {
                .img {
                    background-image: url(../img/bg#{$i}.jpg);
                }
            }
        }
    }
}

// paraFooter
.paraFooter {
    padding: 200px 0;

    h1 {
        font-size: 8vw;
        line-height: 1.2;
        padding: 10vw 8vw 0 8vw;
        text-transform: uppercase;
        margin-bottom: 3vw;

        em {
            display: block;
            font-family: 'Lato';
            font-weight: 100;
            padding-left: 18vw;
        }
    }

    .footerInfo {
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;
        padding: 15px 20px;
        margin-bottom: 2px;

        h2 {
            padding-right: 20px;
        }

        li {
            display: inline;
            list-style: none;

            a {
                color: #fff;
                border: 1px dashed #fff;
                width: 30px;
                height: 30px;
                display: inline-block;
                border-radius: 50%;
                line-height: 30px;
                text-decoration: none;
            }

            &.active a {
                background: #fff;
                color: #000;
            }
        }
    }
}