@charset "UTF-8";

/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
    font-size: 14px;
    line-height: 1.5;
    color: #222;
    font-family: 'NEXONLv1Gothic', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
}

/* 링크 초기화 */
a {
    color: #222;
    text-decoration: none;
}

/* 목록 초기화 */
ol,
ul {
    list-style: none;
}

/* 스타일 초기화 */
strong {
    font-weight: normal;
}

em {
    font-style: normal;
}

img {
    width: 100%;
}

/* 제목 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 리스트 스타일 유형 */
ul.list li,
ol.list li,
dl.list li {
    position: relative;
    padding-left: 10px;
}

ul.list li::before,
ol.list li::before,
dl.list li::before {
    content: '';
    width: 3px;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    top: 8px;
}

/* 이미지 표현 방법 */
/* 
    img 태그를 이용해서 표현 > 이미지에 의미가 있을 때 > alt(대체 문자)
    background 속성을 이용해서 표현 > 이미지에 의미가 없을 때(장식용)

    이미지 스프라이트 표현 > 이미지를 효율적(의미가 있음)으로 사용하기 위한 방법(background)
    > CSS로 대체 문자를 만드어 줌 > IR 효과
*/

/* ir 효과 */
/* 의미있는 이미지의 대체 텍스트를 제공하는 경우 */
.ir_pm {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

/* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때 */
.ir_wa {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_so {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}