/* skip */
#skip {
    position: relative;
    z-index: 10000;
}

#skip a {
    position: absolute;
    left: 0;
    top: -100px;
    background: #000;
    color: #fff;
    padding: 20px 30px;
    display: inline-block;
}

#skip a:active,
#skip a:focus {
    top: 0;
}

/* layout */
#contents {}

#mainCont {
    padding-top: 80px;
}

#mainCont.gray {
    background-color: #f4f4f4;
}

/* container */
.content-article {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    /* background: rgba(0, 0, 0, 0.3); */
}

.flow-article {
    width: 100%;
    background-color: #f7f6ff;
    padding: 100px 0;
}

/* header */
#header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

#header h1 {
    text-transform: uppercase;
}

#header h1 a {
    padding: 10px;
    margin: 10px;
}

#header h1 em {
    font-size: 16px;
}

#header nav li {
    display: inline;
}

#header nav li a {
    padding: 10px 20px;
    margin: 15px;
    display: inline-block;
    font-size: 16px;
}

#header .member {
    padding: 20px;
}

#header .member a {
    border: 1px solid #000;
    padding: 7px 20px 5px;
    border-radius: 50px;
    transition: background 0.3s, color 0.3s;
}

#header .member a:hover {
    background: #000;
    color: #fff;
}

/* member-form */
.member-form {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 60px 40px;
}

.member-form h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.member-form h4 {
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 14px;
}

.member-form button {
    font-size: 18px;
}

.member-form .info {
    padding-top: 20px;
    color: #666;
}

.member-form .info a {
    text-decoration: underline;
    color: #666;
}

.member-form .join-info {
    margin-bottom: 20px;
}

.member-form .join-privacy {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 50px;
}

/* member-box */

.member-box {}

.member-box label {
    display: block;
    margin-bottom: 5px;
}

.member-box input {
    margin-bottom: 30px;
}

/* section-comment */
.section-comment {
    text-align: center;
}

.section-comment h4 {
    font-size: 40px;
}

.section-comment p {
    font-size: 18px;
}

.comment-form {
    margin-top: 50px;
}

.comment-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.comment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
}

.comment-list>div {
    flex: 0 0 22%;
    margin-bottom: 40px;
}

.comment-list>div p {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
}

.comment-list>div p::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: -8px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.comment-list>div img {
    width: 30px;
    border-radius: 50%;
    padding-left: 4px;
}

.comment-list>div span {
    vertical-align: 8px;
    padding-left: 4px;
}

.comment-list>div span:last-child {
    float: right;
    font-size: 14px;
    margin-top: 8px;
    opacity: 0.6;
}


/* cardType01 */

.cardType01 {
    font-family: 'GmarketSans';
}

.cardType01 h2 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 7px;
}

.cardType01 p {
    font-weight: 300;
    font-size: 26px;
    line-height: 1.28;
    margin-bottom: 40px;
}

.cardType01 .card-wrap {
    display: flex;
    justify-content: space-between;
}

.cardType01 .card-wrap>div {
    width: 32%;
}

.cardType01 .card .card-title {
    display: block;
    font-size: 32px;
    white-space: nowrap;
    /* 한줄효과 */
    overflow: hidden;
    /* 한줄효과 */
    text-overflow: ellipsis;
    /* 한줄효과 */
}

.cardType01 .card .card-desc {
    display: block;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    /* 벤더 프리픽스   두줄효과*/
    display: -webkit-box;
    /* 벤더 프리픽스   두줄효과*/
    -webkit-line-clamp: 2;
    /* 벤더 프리픽스   두줄효과*/
    -webkit-box-orient: vertical;
    /* 벤더 프리픽스   두줄효과*/
}

.cardType01 .card .card-keyword {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
}

/* boardType */
.boardType {}

.boardType h3 {
    font-size: 46px;
    margin-bottom: 20px;
}

.boardType p {
    font-size: 26px;
}

.board {}

.board-search {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

.board-search .form-search {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding: 7px 20px;
}

.board-search .form-select {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding: 8px 20px;
    background-color: transparent;
}

.board-search .form-btn {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding: 8px 20px;
}

.board-search .form-btn.black {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
}

.board-table {}

.board-table table {
    width: 100%;
    border-top: 3px solid #000;
    border-bottom: 2px solid #000;
}

.board-table table th {
    background-color: #eee;
    font-weight: normal;
}

.board-table table td,
.board-table table th {
    border-bottom: 1px solid #000;
    padding: 19px 0;
    text-align: center;
}

.board-table table .height {
    height: 400px;
    vertical-align: top;
}

.board-table table .left {
    text-align: left;
    padding-left: 20px;
}

.board-table .btn {
    float: right;
}

.board-table .btn a {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
}

.board-page {
    margin-top: 50px;
}

.board-page ul {
    display: flex;
    justify-content: center;
}

.board-page li {}

.board-page li a {
    display: block;
    border: 1px solid #eee;
    padding: 13px 10px;
    margin-right: -1px;
}

.board-page li.active a {
    background-color: #000;
    color: #fff;
}

.board-write {
    padding: 50px 0 100px;
}

.board-write label {
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

.board-write .title-text {
    width: 100%;
    display: block;
    border: 1px solid #eee;
    padding: 13px;
    margin-bottom: 20px;
    resize: none;
}

.board-write .board-btn {
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
}


/* boardModify */
.boardModify {
    margin: 50px 0 100px;
}

.boardModify label {
    display: block;
    width: 100%;
    padding-bottom: 10px;
}

.boardModify input {
    width: 100%;
    display: block;
    border: 1px solid #c6c6c6;
    padding: 13px;
    margin-bottom: 30px;
}

.boardModify textarea {
    width: 100%;
    display: block;
    border: 1px solid #c6c6c6;
    padding: 13px;
    margin-bottom: 30px;
    resize: none;
}

.boardModify .btn {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    float: right;
}


/* footer */
footer {
    height: 500px;
}