/* skip */
#skip {
    position: relative;
    z-index: 10000;
}

#skip a {
    position: absolute;
    left: 0;
    top: -100px;
    background: #000;
    color: #fff;
    padding: 20px 30px;
    display: inline-block;
}

#skip a:active,
#skip a:focus {
    top: 0;
}

/* layout */
#contents {}

#mainCont {
    padding-top: 80px;
}

#mainCont.gray {
    background-color: #f4f4f4;
}

/* container */
.content-article {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    /* background: rgba(0, 0, 0, 0.3); */
}

/* header */
#header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

#header h1 {
    text-transform: uppercase;
}

#header h1 a {
    padding: 10px;
    margin: 10px;
}

#header h1 em {
    font-size: 16px;
}

#header nav li {
    display: inline;
}

#header nav li a {
    padding: 10px 20px;
    margin: 15px;
    display: inline-block;
    font-size: 16px;
}

#header .member {
    padding: 20px;
}

#header .member a {
    border: 1px solid #000;
    padding: 7px 20px 5px;
    border-radius: 50px;
    transition: background 0.3s, color 0.3s;
}

#header .member a:hover {
    background: #000;
    color: #fff;
}

/* member-form */
.member-form {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 60px 40px;
}

.member-form h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.member-form h4 {
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 14px;
}

.member-form button {
    font-size: 18px;
}

.member-form .info {
    padding-top: 20px;
    color: #666;
}

.member-form .info a {
    text-decoration: underline;
    color: #666;
}

.member-form .join-info {
    margin-bottom: 20px;
}

.member-form .join-privacy {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 50px;
}

/* member-box */

.member-box {}

.member-box label {
    display: block;
    margin-bottom: 5px;
}

.member-box input {
    margin-bottom: 30px;
}