/* cardType */
body {
    background-color: #f3f3f3;
}

.cardType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

/* cardType01 */
.cardType01 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}

.cardType01 h2 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 7px;
}

.cardType01 p {
    font-weight: 200;
    font-size: 26px;
    line-height: 1.28;
    margin-bottom: 40px;
}

/* float을 이용한 레이아웃 */
/* .card-wrap {
    overflow: hidden;
}

.card-wrap > div {
    float: left;
    width: 387px;
    margin-right: 19px;
}

.card-wrap > div:last-child {
    margin-right: 0;
} */

/* flex를 이용한 레이아웃 */
.cardType01 .card-wrap {
    display: flex;
    justify-content: space-between;
}

.cardType01 .card-wrap>div {
    width: 100%;
}

.cardType01 .card .card-img {
    width: 100%;
}

.cardType01 .card .card-title {
    display: block;
    font-size: 32px;
    white-space: nowrap;
    /* 한줄 효과 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardType01 .card .card-desc {
    display: block;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    /* 두줄 효과 */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cardType01 .card .card-keyword {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
}



/* cardType02 */
.cardType02 {
    font-family: 'S-CoreDream';
    padding: 100px 0;
}

.cardType02 h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 22px;
}

.cardType02 p {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}

.cardType02 .card-wrap {
    display: flex;
    justify-content: space-between;
}

.cardType02 .card-wrap .card {
    padding: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-right: 20px;
}

.cardType02 .card-wrap .card:last-child {
    margin-right: 0px;
}

.cardType02 .card-wrap .card .card-img {
    width: 100%;
}

.cardType02 .card-wrap .card .card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardType02 .card-wrap .card .card-desc {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 6px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardType02 .card-wrap .card .card-tag span {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 14px;
    border-radius: 20px;
    border: solid 1px #000;
    background-color: #000;
    color: #fff;
}



/* cardType03 */
.cardType03 {
    padding: 100px 0;
    font-family: 'NanumSquare';
}

.cardType03 .header {
    width: 100%;
    overflow: hidden;
    margin-bottom: 47px;
}

.cardType03 h2 {
    font-size: 50px;
    font-weight: 800;
    display: block;
    margin-bottom: 22px;
}

.cardType03 p {
    font-size: 18px;
    font-weight: 600;
    float: left;
}

.cardType03 .btn {
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-right: 15px;
}

.cardType03 .btn>a {
    margin-right: 0;
}

.cardType03 .btn.active {
    color: #ff2626;
}

.cardType03 .card-wrap {
    display: block;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.cardType03 .card-wrap .card {
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}

.cardType03 .card-wrap .card:last-child {
    margin-bottom: 0;
}

.cardType03 .card-wrap .card .card-img {
    width: 285px;
    float: left;
    border-radius: 10px;
    margin-right: 19px;
}

.cardType03 .card-wrap .card-contents {
    width: 100%;
    height: 185px;
    float: left;
}
.cardType03 .card-wrap .card-contents .card-article {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.cardType03 .card-wrap .card .card-tag {
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    padding: 3px 14px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.cardType03 .card-wrap .card .card-tag.ht {
    background-color: #ff5151;
}

.cardType03 .card-wrap .card .card-tag.cs {
    background-color: #5465ff;
}

.cardType03 .card-wrap .card .card-tag.js {
    background-color: #ff4646;
}

.cardType03 .card-wrap .card .card-tag.jq {
    background-color: #11c865;
}

.cardType03 .card-wrap .card .card-title {
    font-size: 26px;
    font-weight: bold;
    display: block;
}

.cardType03 .card-wrap .card .card-desc {
    font-size: 16px;
    color: #555;
    display: block;
    margin: 7px 0 7px 0;
}

.cardType03 .card-wrap .card .card-date {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    display: block;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
}