/* imageType */
body {
    background-color: #f3f3f3;
}

.imageType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}


/* imageType01 */
.imageType01 {
    font-family: "GmarketSans";
    font-weight: 500;
    overflow: hidden;
}

.imageType01 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 100px;
}

.imageType01 .card-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.imageType01 .card {
    position: relative;
}

.imageType01 .card .inner-wrap {
    color: #fff;
    position: absolute;
    width: 530px;
    bottom: 45px;
    left: 30px;
}

.imageType01 .inner-wrap .card-img {
    margin-bottom: 100px;
}

.imageType01 .inner-wrap .card-title {
    font-size: 30px;
    display: inline-block;
}

.imageType01 .inner-wrap p {
    font-size: 18px;
    display: inline-block;
}

.imageType01 .inner-wrap .card-desc {
    font-size: 14px;
    display: block;
    margin-top: 6px;
    margin-bottom: 14px;
}

.imageType01 .inner-wrap .card-btn {
    color: #fff;
    padding: 8px 18px;
    margin-bottom: 30px;
}

.imageType01 .inner-wrap .card-btn.blue {
    background-color: #043C81;
}

.imageType01 .inner-wrap .card-btn.red {
    background-color: #9F0D09;
}


/* imageType02 */
.imageType02 {
    font-family: "GmarketSans";
    font-weight: 500;
    overflow: hidden;
}

.imageType02 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 100px;
}

.imageType02 .card-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.imageType02 .card-wrap .card {
    position: relative;
    margin-bottom: 100px;
}

.imageType02 .card .card-img {}

.imageType02 .card .inner-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    -ms-flex-item-align: center;
    text-align: center;
}

.imageType02 .card .card-title {
    font-size: 30px;
    color: #fff;
    white-space: nowrap;
    display: block;
    margin-bottom: 5px;
}

.imageType02 .card .card-btn{
    font-size: 14px;
    color: #fff;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.78);
    padding: 6px 24px;
    display: block;
}