/* sliderType */
body {
    background-color: #f3f3f3;
}

.sliderType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

/* sliderType01 */
.sliderType01 {
    font-family: "GmarketSans";
}

.sliderType01 .slider {
    color: #fff;
    position: relative;
}

.sliderType01 .slider .slider-inner {
    width: 1400px;
    margin: 0 auto;
}

.sliderType01 .slider .slider-inner em {
    font-family: 'NEXONLv1Gothic';
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 100px;
    display: block;
}

.sliderType01 .slider .slider-inner h3 {
    font-family: 'GmarketSans';
    font-size: 100px;
    font-weight: 300;
    line-height: 1.2;
    text-indent: -8px;
}

.sliderType01 .slider .slider-inner p {
    font-family: 'NEXONLv1Gothic';
    font-size: 20px;
    font-weight: 300;
}

.sliderType01 .slider .slider-inner .btn {
    display: block;
    padding-bottom: 100px;
    margin-top: 260px;
}

.sliderType01 .slider .slider-inner .btn a {
    font-family: 'NEXONLv1Gothic';
    font-size: 16px;
    width: 200px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-right: 7px;
}

.sliderType01 .slider .slider-inner .btn a.white {
    background-color: #fff;
    color: #000;
}

.sliderType01 .slider .slider-inner .btn a.black {
    background-color: #000;
    color: #fff;
}

.sliderType01 .slider .slider-arrow a {
    width: 20px;
    height: 40px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sliderType01 .slider .slider-arrow a.left {
    left: 25px;
}

.sliderType01 .slider .slider-arrow a.right {
    right: 25px;
}

.sliderType01 .slider .slider-dot {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
}

.sliderType01 .slider .slider-dot a.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #fff;
    box-sizing: border-box;
    margin: 0 6px;
}

.sliderType01 .slider .slider-dot a.dot.active {
    background-color: #fff;
}

.sliderType01 .slider .slider-dot a.play {
    width: 12px;
    display: inline-block;
    margin: 0 10px
}

.sliderType01 .slider .slider-dot a.stop {
    width: 12px;
    display: inline-block;
    margin-left: 5px;
}

.sliderType01 .slider:nth-child(1) {
    background-image: url(../img/SLIDER-TYPE01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}