@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

.bg {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden;
}

.bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.bg1 {
  background-image: url(../img/bg1@2x.jpg);
}

.bg2 {
  background-image: url(../img/bg2@2x.jpg);
}

.bg3 {
  background-image: url(../img/bg3@2x.jpg);
}

.bg4 {
  background-image: url(../img/bg4@2x.jpg);
}

.bg5 {
  background-image: url(../img/bg5@2x.jpg);
}

.bg6 {
  background-image: url(../img/bg6@2x.jpg);
}

.bg7 {
  background-image: url(../img/bg7@2x.jpg);
}

.bg8 {
  background-image: url(../img/bg8@2x.jpg);
}

.bg9 {
  background-image: url(../img/bg9@2x.jpg);
}

.bg10 {
  background-image: url(../img/bg10@2x.jpg);
}

.bg11 {
  background-image: url(../img/bg11@2x.jpg);
}

.bg12 {
  background-image: url(../img/bg12@2x.jpg);
}

.bg13 {
  background-image: url(../img/bg13@2x.jpg);
}

.bg14 {
  background-image: url(../img/bg14@2x.jpg);
}

.bg15 {
  background-image: url(../img/bg15@2x.jpg);
}

.bg16 {
  background-image: url(../img/bg16@2x.jpg);
}

.bg17 {
  background-image: url(../img/bg17@2x.jpg);
}

.bg18 {
  background-image: url(../img/bg18@2x.jpg);
}

.bg19 {
  background-image: url(../img/bg19@2x.jpg);
}

.bg20 {
  background-image: url(../img/bg20@2x.jpg);
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #11e8bb;
  background: -webkit-gradient(linear, left top, left bottom, from(#11e8bb), to(#8200c9));
  background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
  background-repeat: no-repeat;
}

#main.menu {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#main.mouse {
  background: -webkit-gradient(linear, left bottom, left top, from(#6a11cb), to(#2575fc));
  background: linear-gradient(to top, #6a11cb 0%, #2575fc 100%);
}

#main.slider {
  background: -webkit-gradient(linear, left bottom, left top, from(#48c6ef), to(#6f86d6));
  background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

#main.parallax {
  background: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

#main.game {
  background: -webkit-gradient(linear, left bottom, left top, from(#3f51b1), color-stop(13%, #5a55ae), color-stop(25%, #7b5fac), color-stop(38%, #8f6aae), color-stop(50%, #a86aa4), color-stop(62%, #cc6b8e), color-stop(75%, #f18271), color-stop(87%, #f3a469), to(#f7c978));
  background: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
}

#contents h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 10vw;
  white-space: nowrap;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8200c9), to(#240038));
  background-image: linear-gradient(to bottom, #8200c9, #240038);
}

#nav {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 20px;
  top: auto;
  text-align: center;
  width: 70%;
}

#nav li {
  list-style: none;
  display: inline;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  margin: 4px;
  font-family: "NEXONLv1Gothic";
  -webkit-box-shadow: inset 0 0 0 #fff;
          box-shadow: inset 0 0 0 #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

#nav li a:hover {
  -webkit-box-shadow: inset 0 -100px 0 #fff;
          box-shadow: inset 0 -100px 0 #fff;
  color: #6c4a70;
}

.info {
  color: #fff;
  font-family: "NEXONLv1Gothic";
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.info.right {
  left: auto;
  right: 0px;
}

.info.bottom {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}

.info h1 {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  border-bottom: 1px dashed #fff;
  display: inline-block;
  margin-bottom: 10px;
}

.info p {
  font-weight: 300;
  font-size: 16px;
}

.info li {
  list-style: none;
  display: inline;
}

.info li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px dashed #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
}

.info li.active a {
  background: #fff;
  color: #000;
}

.info button {
  background: transparent;
  border: 1px solid #fff;
  padding: 5px 20px;
  color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0 #fff inset;
          box-shadow: 0 0 0 #fff inset;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.info button:hover {
  -webkit-box-shadow: 0 -50px 0 #fff inset;
          box-shadow: 0 -50px 0 #fff inset;
  color: #000;
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#modal .modal-bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modal .modal-bg .modal-cont h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}

#modal .modal-bg .modal-cont p {
  font-weight: 300;
  line-height: 1.6;
}

#modal .modal-bg .modal-cont button {
  float: right;
  border: 1px solid #000;
  background: #000;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'NEXONLv2Gothic';
  margin-top: 10px;
}

#modal.show {
  -webkit-animation: unfoldIn 1s ease forwards;
          animation: unfoldIn 1s ease forwards;
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
}

#modal.show.hide {
  -webkit-animation: unfoldOut 1s ease forwards;
          animation: unfoldOut 1s ease forwards;
}

@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
}

@keyframes unfoldOut {
  0% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
}

#modal.show .modal-bg .modal-cont {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s ease forwards;
          animation: zoomIn 0.5s 0.8s ease forwards;
}

#modal.show.hide .modal-bg .modal-cont {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomOut 0.5s ease forwards;
          animation: zoomOut 0.5s ease forwards;
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.code-view {
  background: #fff;
  width: 60vw;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}

.code-view .view-header {
  border-bottom: 1px solid #f2f2f2;
}

.code-view .view-header .dot {
  padding: 13px 10px 10px 15px;
}

.code-view .view-header .dot span {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 2px;
}

.code-view .view-header .dot span:nth-child(1) {
  background-color: #f56565;
}

.code-view .view-header .dot span:nth-child(2) {
  background-color: #f6e05e;
}

.code-view .view-header .dot span:nth-child(3) {
  background-color: #48bb78;
}

.code-view .view-title {
  border: 1px solid #f2f2f2;
  padding: 0 11px;
  font-family: "NEXONLv1Gothic";
}

.code-view .view-title li {
  display: inline;
  list-style: none;
}

.code-view .view-title li a {
  text-decoration: none;
  color: #cccccc;
  padding: 10px 10px 12px;
  margin: 0 5px;
  display: inline-block;
}

.code-view .view-title li.active a {
  border-top: 2px solid #667eea;
  color: #4a5568;
}

@media (max-width: 900px) {
  #contents h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 15vw;
  }
  #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    bottom: 0;
    width: 100%;
  }
  #nav li a {
    width: 80px;
    height: 35px;
    line-height: 35px;
  }
}
