// #header
// #main
//      #aboutConmt
//      #referCont
//      #portCont
//      #scriptCont
//      #youtubeCont
// #footer

// #header
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-sub;
    border-bottom: 1px solid #2e2e30;
    border-top: 1px solid #2e2e30;

    .header__port {
        flex: 0 0 30%;

        a {
            display: inline-block;
            padding: 7px;
            margin: 10px;
        }
    }

    .header__logo {
        flex: 0 0 20%;
        text-align: center;

        a {
            font-size: 30px;
            font-family: $font-logo;
            font-weight: bold;
            padding: 7px 7px 9px;
            margin: 10px;
            display: block;
        }
    }

    .header__menu {
        flex: 0 0 30%;
        text-align: right;

        ul {
            margin-right: 10px;

            li {
                display: inline;

                a {
                    display: inline-block;
                    padding: 5px;
                    margin: 1px;
                }
            }
        }
    }

    .header__ham {
        position: absolute;
        left: 14px;
        top: 14px;
        width: 40px;
        height: 40px;
        display: none;

        &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: 8px;
            width: 10px;
            height: 10px;
            background-color: #fff;
            box-shadow: 0 14px 0 #fff;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 8px;
            right: 8px;
            width: 10px;
            height: 10px;
            background-color: #fff;
            box-shadow: 0 -14px 0 #fff;
        }
    }
}

@media (max-width: 1150px) {
    #header {

        .header__port,
        .header__menu {
            display: none;
        }

        .header__logo {
            flex: 0 0 100%;
        }

        .header__ham {
            display: block;
        }
    }
}

// #footer
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-sub;
    border-top: 1px solid #2e2e30;

    div {
        padding: 22px;
        text-align: center;

        h4 {
            font-weight: 400;
            text-transform: capitalize;
            padding: 6px;
        }

        h4,
        p,
        ul {
            display: inline-block;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 4px;
                }
            }
        }
    }

    div:nth-child(1) {
        flex: 0 0 25%;
    }

    div:nth-child(2) {
        flex: 0 0 25%;
        border-left: 1px solid #2e2e30;
        border-right: 1px solid #2e2e30;
    }

    div:nth-child(3) {
        flex: 0 0 50%;
    }
}

@media (max-width: 1150px) {
    #footer {
        &:nth-child(1) {
            flex: 0 0 100%;
        }

        &:nth-child(2) {
            display: none;
        }

        &:nth-child(3) {
            display: none;
        }
    }
}