$font-main: 'saol';
$font-sub: 'Rajdhani';
$font-logo: 'Playfair Display';
$font-kor1: 'Chosunilbo_myungjo';
$font-kor2: 'SCoreDream';

// --font-main: 'saol';
// --font-sub: 'Rajdhani';
// --font-logo: 'Playfair Display';
// --font-kor1: 'Chosunilbo_myungjo';
// --font-kor2: 'SCoreDream';

:root {
    font-size: 16px;
    line-height: 1.4;
}

@media (max-width: 1200px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}